{% extends 'base.twig' %}

{% block content %}
    <h1>Forbidden</h1>
    <p>You do not have permission to access this resource.</p>
    <a href="index.php?action=home">Back to Home</a>
{% endblock %}