{% extends 'templates/base.twig' %}

{% block content %}
	<h1>Oldschool</h1>
	<h2>Welcome to our Online Learning Platform </h2>
	{% if user %}
		<p>Hello,
			{{ user.username }}!</p>
		<p>
			<a href="index.php?action=profile&id={{ user.id }}">My Profile</a>
		</p>
		<p>
			<a href="index.php?action=logout">Logout</a>
		</p>
	{% else %}
		<p>
			<a href="index.php?action=login">Login</a>
		</p>
		<p>
			<a href="index.php?action=register">Register</a>
		</p>
	{% endif %}
{% endblock %}
