{% extends 'base.twig' %}

{% block content %}
    <h1>Register</h1>
    <form method="post" action="index.php?action=register">
        <!-- TODO add registration form fields here -->
        <button type="submit">Register</button>
    </form>
{% endblock %}
